*{
   margin: 0;
   padding: 0;
   font-family:'Calibri', 'Poppins';
   box-sizing: border-box;
}

body{
   background-color: dimgray;
}

.card{
   width: 90%;
   max-width: 470px;
   /* Color gradients */
   /* sky */
   /* background: linear-gradient(135deg, #1488CC,#2B32B2); */

   /* copper */
   /* background: linear-gradient(135deg, #B79891,#94716B); */

   /* Anamnisar */
   /* background: linear-gradient(135deg, #9796f0,#fbc7d4); */

   /* Mango */
   /* background: linear-gradient(135deg, #ffe259,#ffa751); */

   /* Lunada */   
   /* background: linear-gradient(135deg, #5433FF,#20BDFF, #A5FECB); */
   
   /* Cool blues */
   /* background: linear-gradient(135deg, #2193b0,#6dd5ed); */

   /* JShine */
   background: linear-gradient(135deg, #12c2e9,#c471ed, #f64f59);


   margin: 100px auto 0;
   border-radius: 30px;
   padding: 40px 35px;
   text-align: center;
}

.search{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.search input{
   border: 0;
   outline: 0;
   background-color:rgb(78, 83, 88);
   color: azure;
   border-radius: 30px;
   padding: 20px 20px;
   height: 60px;
   flex: 1;
   margin-right: 16px;
   font-size: 20px;
}

.search input::placeholder{
   color: white
}

.search button{
   border: 0;
   outline: 0;
   background: rgba(114, 114, 200, 0);
   border-radius: 50%;
   width: 60px;
   height: 60px;
   cursor: crosshair;
}

.search button img{
   width: 50px;
}

/* .weather img{
   margin-top: 20px;
   border: 0;
   outline: 0;
   background: radial-gradient(circle at center, rgb(255, 255, 255), rgb(72, 98, 201), rgb(0, 0, 0));
   background: linear-gradient(rgb); 
   background: rgba(51, 91, 183, 0.7);
   border-radius: 50%;
   width: 170px;
   cursor: cell;
} */

.weather-icon{
   width:170px;
   margin-top:30px;
}

.weather h1{
   font-size: 80px;
   font-weight: 500;;
}

.weather h2{
   font-size: 45px;
   font-weight: 400;
   margin-top: -10px;
}

.details{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   margin-top: 50px;
}